<!DOCTYPE html>
<html>
  <head>
    <title>Rajindra's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

     <link rel="icon" href="/startbootstrap-agency-gh-pages/icon.png" type="image/png">
    <link rel="icon" href="/startbootstrap-agency-gh-pages/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/startbootstrap-agency-gh-pages/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  
    <!-- bootstrap core css -->


    <!-- Google fonts-->
    <link rel="icon" type="image/x-icon" href="/startbootstrap-agency-gh-pages/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/startbootstrap-agency-gh-pages/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

  </head>

  <body id="page-top">
    <% if controller_name == "pages"%>
    <%= render 'layouts/navbar'%>
    <% end %>
    <%= yield %>
  </body>

<footer>
  <!-- Bootstrap core JavaScript -->
   
    <!-- Plugin JavaScript -->
    <script src="/startbootstrap-agency-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="/startbootstrap-agency-gh-pages/js/jqBootstrapValidation.js"></script>
    <script src="/startbootstrap-agency-gh-pages/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->

    
</footer>
</html>
